{{> partials/menu}}
<main role="main" class="ml-sm-auto col-lg-10 px-4">
    <form class="form-horizontal" id="productNewForm" data-toggle="validator">
        <div class="col-12">
            <div class="page-header">
                <div class="float-right">
                    <button id="frm_edit_product_save" class="btn btn-outline-success" type="submit">Add product</button>
                </div>
                <h2>{{ @root.__ "New product" }}</h2>
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                <label for="productTitle" class="control-label">{{ @root.__ "Product title" }} *</label>
                <input type="text" id="productTitle" class="form-control" minlength="5" maxlength="200" value="{{productTitle}}" required/>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="productPrice" class="control-label">{{ @root.__ "Product price" }} *</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <label class="input-group-text">{{currencySymbol config.currencySymbol}}</label>
                    </div>
                    <input type="number" id="productPrice" class="form-control" step="any" value="{{productPrice}}"/>
                </div>
            </div>
        </div>

           <div class="col-sm-6">
                <div class="form-group">
                    <label for="productPrice" class="control-label">Category *</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                           
                 <select class="form-control" id="VehicleId">
                        <option value="Electrician">Electrician</option>
                        <option value="Plumber">Plumber</option>
                        <option value="CCTU">CCTU</option>
                        <option value="Fire">Fire Security</option>
                        <option value="AC">AC services</option>
                        <option value="Photographer">Photographer</option>
                        <option value="Phone">Phone Repair</option>
                        <option value="Laptop">Laptop repair</option>
                        <option value="Watch">Watch Repair</option>
                        <option value="CA">CA</option>
                        <option value="Lawyer">Lawyer</option>
                        <option value="Webiste">Webiste Development</option>
                        <option value="C.S">C.S</option>
                        <option value="ITR">ITR</option>
                        <option value="Architect">Architect</option>
                        <option value="MassageWomen">Massage for women</option>
                        <option value="MassageMen">Massage for men</option>
                        <option value="SalonWomen">Salon for women</option>
                        <option value="SalonMen">Salon for men</option>
                        <option value="Pest">Pest control</option>
                        <option value="Painter">Painters</option>
                        <option value="Cleaning">Cleaning</option>
                        <option value="XYZ 1">XYZ 1</option>
                        <option value="XYZ 2">XYZ 2</option>
                    </select>                       
                     </div>
                    </div>
                </div>
            </div>
        
        <div class="col-12">
            <div class="form-group" id="editor-wrapper">
                <label for="editor" class="control-label">{{ @root.__ "Product description" }} *</label>
                <textarea rows="10" id="productDescription" class="form-control" required>{{productDescription}}</textarea>
            </div>
        </div>

    </form>
