<div class="modal fade" id="updatestatusconfirm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update Status</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          Confirm Status Update
          <br>
        <sm class="text-danger">
            If Status is completed then it will send Ebill to customer.
        </sm>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" id="supervisororderStatusUpdate" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<main role="main" class="col-12 top-marg-25">
    <div class="col-sm-12">
        <h2>View Order</h2>
    </div>
    <div class="order-layout col-md-12">
        <div class="row">
            <div class="col-md-12 bottom-pad-20">
                <button class="btn btn-outline-success float-left" data-toggle="modal" data-target="#updatestatusconfirm">{{ @root.__ "Update status" }}</button>
                <a href="/supervisor/dashboard" class="btn btn-info float-right">{{ @root.__ "Go Back" }}</a>
            </div>
        </div>
        <ul class="list-group">
            <li class="list-group-item list-group-input-pad">
                <strong> Order status: </strong><span class="text-{{getStatusColor result.orderStatus}} float-right">{{result.orderStatus}}</span>
                <div class="float-right col-md-2">
                    <select class="form-control" id="orderStatus">
                        <option {{selectState result.orderStatus "Completed"}}>{{ @root.__ "Completed" }}</option>
                        <option {{selectState result.orderStatus "Paid"}}>{{ @root.__ "Paid" }}</option>
                        <option {{selectState result.orderStatus "Pending"}}>{{ @root.__ "Pending" }}</option>
                        <option {{selectState result.orderStatus "Cancelled"}}>{{ @root.__ "Cancelled" }}</option>
                        <option {{selectState result.orderStatus "Declined"}}>{{ @root.__ "Declined" }}</option>
                        <option {{selectState result.orderStatus "Shipped"}}>{{ @root.__ "Shipped" }}</option>
                    </select>
                </div>
            </li>
            <li class="list-group-item"><strong> {{ @root.__ "Order date" }}: </strong><span class="float-right">{{formatDate result.orderDate "DD/MM/YYYY hh:mmA"}}</span></li>
            <li class="list-group-item"><strong> {{ @root.__ "Order ID" }}: </strong><span class="float-right">{{result._id}}</span></li>
            <li class="list-group-item"><strong> {{ @root.__ "Payment Gateway ref" }}: </strong><span class="float-right">{{result.orderPaymentId}}</span></li>
            <li class="list-group-item"><strong> {{ @root.__ "Payment Gateway" }}: </strong><span class="float-right">{{result.orderPaymentGateway}}</span></li>
            {{#if result.orderExpectedBtc }}
            <li class="list-group-item"><strong> {{ @root.__ "Order Expected BTC" }}: </strong><span class="float-right">{{result.orderExpectedBtc}}</span></li>
            {{/if}}
            {{#if result.orderReceivedBtc }}
            <li class="list-group-item"><strong> {{ @root.__ "Order Received BTC" }}: </strong><span class="float-right">{{result.orderReceivedBtc}}</span></li>
            {{/if}}
            {{#if result.orderBlockonomicsTxid }}
            <li class="list-group-item"><strong> {{ @root.__ "Order Blockonomics Txid" }}: </strong><span class="float-right">{{result.orderBlockonomicsTxid}}</span></li>
            {{/if}}
            {{#if result.orderPaymentMessage}}
            <li class="list-group-item"><strong> {{ @root.__ "Payment Message" }}: </strong><span class="float-right">{{result.orderPaymentMessage}}</span></li>
            {{/if}}
            <li class="list-group-item"><strong> {{ @root.__ "Order net amount" }}: </strong><span class="float-right">{{currencySymbol config.currencySymbol}}{{formatAmount (math result.orderTotal '-' result.orderShipping)}}</span></li>
            <li class="list-group-item"><strong> {{ @root.__ "Order shipping amount" }}: </strong><span class="float-right">{{currencySymbol config.currencySymbol}}{{formatAmount result.orderShipping}}</span></li>
            <li class="list-group-item"><strong> {{ @root.__ "Order total amount" }}: </strong><span class="float-right">{{currencySymbol config.currencySymbol}}{{formatAmount result.orderTotal}}</span></li>
            <li class="list-group-item"><strong> {{ @root.__ "Email address" }}: </strong><span class="float-right">{{result.orderEmail}}</span></li>
            {{!-- <li class="list-group-item"><strong> {{ @root.__ "Company" }}: </strong><span class="float-right">{{result.orderCompany}}</span></li> --}}
            <li class="list-group-item"><strong> {{ @root.__ "Name" }}: </strong><span class="float-right">{{result.orderFirstname}} {{result.orderLastname}}</span></li>
            {{!-- <li class="list-group-item"><strong> {{ @root.__ "Last name" }}: </strong><span class="float-right">{{result.orderLastname}}</span></li> --}}
            <li class="list-group-item"><strong> {{ @root.__ "Address" }}: </strong><span class="float-right">{{result.orderAddr1}}, {{result.orderState}}, {{result.orderPostcode}}</span></li>
            {{!-- <li class="list-group-item"><strong> {{ @root.__ "Address 2" }}: </strong><span class="float-right">{{result.orderAddr2}}</span></li> --}}
            {{!-- <li class="list-group-item"><strong> {{ @root.__ "Country" }}: </strong><span class="float-right">{{result.orderCountry}}</span></li> --}}
            {{!-- <li class="list-group-item"><strong> {{ @root.__ "State" }}: </strong><span class="float-right">{{result.orderState}}</span></li> --}}
            {{!-- <li class="list-group-item"><strong> {{ @root.__ "Postcode" }}: </strong><span class="float-right">{{result.orderPostcode}}</span></li> --}}
            <li class="list-group-item"><strong> {{ @root.__ "Phone number" }}: </strong><span class="float-right">{{result.orderPhoneNumber}}</span></li>
            <li class="list-group-item"><strong> {{ @root.__ "Order type" }}: </strong><span class="float-right">{{result.orderType}}</span></li>
            <li class="list-group-item"><strong> {{ @root.__ "Order comment" }}: </strong><span class="float-right">{{result.orderComment}}</span></li>

            <li class="list-group-item">&nbsp;</li>
            <li class="list-group-item"><strong class="text-info">{{ @root.__ "Products ordered" }}</strong></li>
            {{#each result.orderProducts}}
                <li class="list-group-item">
                    {{this.quantity}} x {{this.title}}
                    {{#if this.variantId}}
                        &nbsp; > &nbsp;
                        <span class="text-warning"> {{ @root.__ "Options" }}: </span>
                        {{this.variantTitle}}
                    {{/if}}
                    <div class="float-right">{{currencySymbol @root.config.currencySymbol}}{{formatAmount this.totalItemPrice}}</div>
                    {{#if productComment}}
                    <h4><span class="text-danger">Comment:</span> {{this.productComment}}</h4>
                    {{/if}}
                    
                </li>
                
                {{#if this.productpackList}}
                <li><strong>Plant Lists: </strong>
                    {{this.productpackList}}
                    </li>
                    {{/if}}
            {{/each}}
        </ul>
        <input type="hidden" id="order_id" value="{{result._id}}">
    </div>
</main>